.nav.item.nav-link .text-grey {
    font-weight: 500;
    color: #000000 !important;
}

.navbar-icon {
    text-align: right;
    color: gray !important;
    font-size: 15px;
    font-weight: 15px;
    font-weight: 100;
}

.navbar-brand {
    font-family: 'Dancing Script';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.navbar-icon img {
    width: 20px;
    height: 20px;
    text-align: right;
}

.navbar.navbar-expand-lg.navbar-light {
    font-weight: 100;
}

.header {
    opacity: 90;
    font-weight: 100;
    justify-content: space-between;
    box-shadow: 0 5px 15 px rgb(0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d4deff;
}

.nav-text {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    color: rgb(97, 95, 95);
    text-decoration-color: black;
}
.nav.item {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
}

.nav.item.nav-link.text-info:hover {
    font-weight: 300;
    color: #BCBBFF !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #BCBBFF !important;
}



/* hero section */
.hero-section h1 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000; 
    margin-top: 10px;  
    margin-bottom: 10px;
}

.hero-section a {
    margin-left: 0;
    margin-right: 1040px;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.hero-section img {
    height: 440px;
    left: 0px 0px 0px 0px;
    padding: 0px;
}

.hero-section h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 100px;
    text-align: left;
}

.hero-section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 50px;
    text-align: left;
}

.card-text a {
    text-align: left;
}

.hero-section h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}

.hero-section h2 {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 300px;

}
/* tutup hero section */
/* categories */

.categories {
    background: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categories h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.categories h5 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #000000;
}

.categories a {
    color: #000000;
    background-color: #ffffff;
    width: 150px;
    height: 35px;
    font-family: 'Poppins';font-style: normal;font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    transition: all 0.3px ease;
}


.card {
    background-color: #D3D5FF;
    text-align: center;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all o.2s ease-in-out;
}

.card:hover {
    text-decoration: none;
    transform: scale(1.1);
}

/* tutup categories */

/* DISCOVER */

.discover {
    background: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 36px;
    margin-top: 50px;
    margin-bottom: 36px;
}

.discover h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.discover h5 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    text-align: center;
    height: 37px;
}

.discover a {
    color: #000000;
    background-color: #FFFFFF; 
    width: 120px;
    height: 35px;
    font-family: 'Poppins';font-style: normal;font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    transition: all 0.3px ease;
}

/* TUTUP DISCOVER */

/* fragances */

.fragances {
    background: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 36px;
    margin-top: 50px;
    padding-bottom: 36px;
}

.fragances h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.fragances h5 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.fragances a {
    width: 186px;
    height: 29.88px;
    text-align: center;

}
/* tutup fragances */
/* footer*/
.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
}
.footer h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    height: 20px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}
.footer p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer a img {
    text-align: right;
}

.footer-small{
    background: #031140;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer-small p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

}
.footer-small a{
    font-weight: 400;
    font-family: 'Dancing Script';
    font-size: 20px;
    text-decoration: none;
    color: #FCBB3A;
}
/* tutup footer */

/* exclusif */
.exclusive {
    background: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 36px;
    margin-top: 50px;
    margin-bottom: 36px;

}

.exclusive h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.exclusive h5 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.exclusive a {
    color: #000000;
    background-color: #FFFFFF; text-align: center;
    width: 150px;
    height: 35px;
    font-family: 'Poppins';font-style: normal;font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    transition: all 0.3px ease;
}

.card {
    background-color: #D3D5FF;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
/* tutup exclusif */

.VICTORY-women {
    background:  radial-gradient(50% 50% at 50% 50%, rgba(212, 215, 255, 0.930467) 0%, rgba(240, 248, 255, 0.85) 2.04%, rgba(201, 201, 255, 0.964334) 4.08%, rgba(203, 205, 255, 0.956692) 6.12%, #BCBBFF 8.16%, rgba(209, 211, 255, 0.941406) 10.2%, rgba(211, 213, 255, 0.935471) 12.24%, #BCBBFF 14.29%, rgba(223, 228, 255, 0.899858) 16.33%, rgba(225, 230, 255, 0.893922) 18.37%, rgba(229, 234, 255, 0.883594) 20.41%, #BCBBFF 22.45%, rgba(220, 225, 255, 0.907031) 24.49%, rgba(218, 222, 255, 0.914844) 26.53%, rgba(226, 232, 255, 0.889986) 28.57%, rgba(227, 233, 255, 0.8875) 30.61%, rgba(227, 233, 255, 0.8875) 32.65%, rgba(227, 233, 255, 0.8875) 34.69%, rgba(209, 212, 255, 0.939476) 36.73%, #BCBBFF 38.78%, rgba(193, 193, 255, 0.986616) 40.82%, rgba(215, 218, 255, 0.925984) 42.85%, rgba(195, 195, 255, 0.980243) 42.86%, rgba(242, 249, 255, 0.85) 42.87%, rgba(199, 199, 255, 0.971759) 44.9%, rgba(200, 200, 255, 0.967496) 46.94%, rgba(223, 227, 255, 0.903906) 48.97%, rgba(207, 208, 255, 0.948438) 48.98%, rgba(210, 212, 255, 0.939587) 51.01%, rgba(211, 213, 255, 0.936719) 51.02%, rgba(220, 223, 255, 0.913281) 53.06%, rgba(224, 228, 255, 0.901563) 55.1%, rgba(225, 229, 255, 0.898437) 57.14%, rgba(226, 230, 255, 0.895555) 59.18%, rgba(230, 235, 255, 0.884375) 63.27%, rgba(224, 228, 255, 0.900214) 63.28%, rgba(217, 220, 255, 0.919531) 67.35%, rgba(199, 200, 255, 0.969665) 71.43%, rgba(193, 193, 255, 0.985937) 73.47%, rgba(218, 221, 255, 0.91853) 75.5%, #BCBBFF 75.51%, rgba(193, 192, 255, 0.986719) 77.55%, rgba(197, 197, 255, 0.976415) 79.59%, rgba(238, 244, 255, 0.861719) 81.61%, rgba(201, 202, 255, 0.96411) 81.62%, rgba(202, 203, 255, 0.96127) 81.63%, rgba(203, 204, 255, 0.958889) 83.67%, rgba(207, 208, 255, 0.948327) 85.71%, rgba(210, 212, 255, 0.939844) 87.76%, rgba(214, 217, 255, 0.928125) 89.8%, rgba(242, 249, 255, 0.85) 91.84%, rgba(224, 228, 255, 0.900781) 93.88%, rgba(234, 239, 255, 0.873698) 95.92%, rgba(237, 243, 255, 0.86467) 97.96%);
    border: 1px solid #000000;

}

/* product */
.product-ana {
    background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 36px;
    margin-bottom: 15px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.product-ana h5 {
    font-family: 'Poppins';
    font-weight:400;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
}

.product-ana p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
}

.breadcrumb {
    background-color: #ffffff;
    text-align: right;
    margin-top: 10px;
}

.breadcrumb a {
    color: #000000;
}

.breadcrumb :hover {
    color: #BCBBFF !important;
}

.form-control {
    margin-bottom: 20px;
}

.product-ana.card {
    background-color: #D3D5FF;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* tutup product */
/* you */

.YOU h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.YOU {
    background: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.YOU h5 {
    font-family: 'Poppins';
    font-weight:400;
    font-size: 15px;
    text-align: center;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
}

.YOU p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
}

.form-control {
    margin-bottom: 5px;
    margin-top: 5px;
}

.YOU.card {
    background-color: #D3D5FF;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.card-deck {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* tutup you */

.VICTORY {
    background: radial-gradient(50% 50% at 50% 50%, rgba(212, 215, 255, 0.930467) 0%, rgba(240, 248, 255, 0.85) 2.04%, rgba(201, 201, 255, 0.964334) 4.08%, rgba(203, 205, 255, 0.956692) 6.12%, #BCBBFF 8.16%, rgba(209, 211, 255, 0.941406) 10.2%, rgba(211, 213, 255, 0.935471) 12.24%, #BCBBFF 14.29%, rgba(223, 228, 255, 0.899858) 16.33%, rgba(225, 230, 255, 0.893922) 18.37%, rgba(229, 234, 255, 0.883594) 20.41%, #BCBBFF 22.45%, rgba(220, 225, 255, 0.907031) 24.49%, rgba(218, 222, 255, 0.914844) 26.53%, rgba(226, 232, 255, 0.889986) 28.57%, rgba(227, 233, 255, 0.8875) 30.61%, rgba(227, 233, 255, 0.8875) 32.65%, rgba(227, 233, 255, 0.8875) 34.69%, rgba(209, 212, 255, 0.939476) 36.73%, #BCBBFF 38.78%, rgba(193, 193, 255, 0.986616) 40.82%, rgba(215, 218, 255, 0.925984) 42.85%, rgba(195, 195, 255, 0.980243) 42.86%, rgba(242, 249, 255, 0.85) 42.87%, rgba(199, 199, 255, 0.971759) 44.9%, rgba(200, 200, 255, 0.967496) 46.94%, rgba(223, 227, 255, 0.903906) 48.97%, rgba(207, 208, 255, 0.948438) 48.98%, rgba(210, 212, 255, 0.939587) 51.01%, rgba(211, 213, 255, 0.936719) 51.02%, rgba(220, 223, 255, 0.913281) 53.06%, rgba(224, 228, 255, 0.901563) 55.1%, rgba(225, 229, 255, 0.898437) 57.14%, rgba(226, 230, 255, 0.895555) 59.18%, rgba(230, 235, 255, 0.884375) 63.27%, rgba(224, 228, 255, 0.900214) 63.28%, rgba(217, 220, 255, 0.919531) 67.35%, rgba(199, 200, 255, 0.969665) 71.43%, rgba(193, 193, 255, 0.985937) 73.47%, rgba(218, 221, 255, 0.91853) 75.5%, #BCBBFF 75.51%, rgba(193, 192, 255, 0.986719) 77.55%, rgba(197, 197, 255, 0.976415) 79.59%, rgba(238, 244, 255, 0.861719) 81.61%, rgba(201, 202, 255, 0.96411) 81.62%, rgba(202, 203, 255, 0.96127) 81.63%, rgba(203, 204, 255, 0.958889) 83.67%, rgba(207, 208, 255, 0.948327) 85.71%, rgba(210, 212, 255, 0.939844) 87.76%, rgba(214, 217, 255, 0.928125) 89.8%, rgba(242, 249, 255, 0.85) 91.84%, rgba(224, 228, 255, 0.900781) 93.88%, rgba(234, 239, 255, 0.873698) 95.92%, rgba(237, 243, 255, 0.86467) 97.96%);
}

/* product */
.single-pro-img-col {
    width: 40%;
    margin-right: 50px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    
}
.smallimg {
    animation: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn-custom { 
    color: #ffffff; 
    background-color: #f785c6; 
    border-color: #e77fec; 
  } 
  .btn-custom:hover, 
  .btn-custom:focus, 
  .btn-custom:active, 
  .btn-custom.active, 
  .open .dropdown-toggle.btn-custom { 
    color: #ffffff; 
    background-color: #fa7bb4; 
    border-color: #f6a4fa; 
  } 

.product-detail {
    margin-top: 15px;
    margin-bottom: 15px;
}

.single-pro-detail h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #343436;
    text-decoration: underline;
}
.single-pro-detail h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: underline;
    text-align: justify;
    color: #000000;
}
.single-pro-detail p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #212222;
}
.single-pro-detail a {
    font-family: 'Poppins';
font-size: 16px;
text-align: center;

color: #FFFFFF;
}

.deskripsi {
       background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 36px;
    margin-bottom: 15px;
    padding-bottom: 50px;
    padding-top: 30px;
}
.deskripsi h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
}
.deskripsi h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
.deskripsi h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
display: flex;
align-items: center;

color: #000000;
}
.deskripsi p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;

color: #000000;
}


.cart h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart h2 {
    
font-family: 'Poppins';
font-weight: 400;
font-size: 18px;
text-align: center;
color: #000000;
}
.qty-ana {
    background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qty-ana h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.qty-ana span {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}
.qty-ana h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-align: right;
    margin-top: 5px;
}
.qty-ana h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.sub {
    background: #eff0ff;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.sub h2  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-align: right;
    margin-left: 900px;
}

.tambahan {
    background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tambahan h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.tambahan p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-check {
     margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking {
      background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.anl {
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.anm {
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}
.anm h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
color: #000000;
text-decoration: underline;
margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.anl h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    text-decoration: underline;
    margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
}

.anm p {
    font-family: 'Poppins';
font-weight: 300;
font-size: 20px;
color: #000000;
margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

}

.anm h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
color: #000000;
}

.anm span {
    font-family: 'Poppins';
font-weight: 400;
font-size: 24px;
text-decoration-line: underline;

color: #076CCA;
}

.anm h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
    color: #000000;
}

.form-check {
    margin-right: 10px;
    padding-left: 10px;
}

.succes {
    background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.succes h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;
text-align: center;

color: #000000;
}

.succes p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    
    color: #000000;
}

.succes a {
    text-align: center;
    margin-left: 320px;
    margin: center ;
}

.col-5-btn-btn-lg.btn-custom{
    text-align: center;
}


/* media */
@media (max-width:799px) {
    .navbar.navbar-expand-lg.navbar-light {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
    }
}